In [1]:
import requests
import json
import prettytable
import os
import pandas as pd
import dtale
import plotly.express as px 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re
import time
from datetime import datetime
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from urllib.request import urlopen
from bs4 import BeautifulSoup

## BLS_key

In [2]:
bls_key = os.environ.get('bls_key')

# The url for BLS API v2
url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'

# API key in config.py which contains: bls_key = 'key'
key = '?registrationkey={}'.format(bls_key)

## Management of Companies & Enterprises Industry: AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES 2015 - 2021

In [3]:
# Series stored as a dictionary #CEU-Industry code-03
series_dict = {
    'CEU6055000003': 'AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES(Management of Companies & Enterprises)'} 

# Start year and end year
dates = ('2019', '2021')

In [4]:
# Specify json as content type to return
headers = {'Content-type': 'application/json'}

# Submit the list of series as data
data = json.dumps({
    "seriesid": list(series_dict.keys()),
    "startyear": dates[0],
    "endyear": dates[1]})

# Post request for the data
p = requests.post(
    '{}{}'.format(url, key),
    headers=headers,
    data=data).json()['Results']['series']

In [5]:
# Date index from first series
date_list = [f"{i['year']}-{i['period'][1:]}-01" for i in p[0]['data']]

# Empty dataframe to fill with values
df = pd.DataFrame()

# Build a pandas series from the API results, p
for s in p:
    df[series_dict[s['seriesID']]] = pd.Series(
        index = pd.to_datetime(date_list),
        data = [i['value'] for i in s['data']]
        ).astype(float).iloc[::-1]

# Show last 5 results
df.tail()

            AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES(Management of Companies & Enterprises)
2021-06-01                                              44.69
2021-07-01                                              44.84
2021-08-01                                              45.43
2021-09-01                                              44.58
2021-10-01                                              44.87

In [ ]:
# Simple line plot of the data
df.plot(title='Management of Companies & Enterprises: AVERAGE HOURLY EARNINGS OF ALL EMPLOYEES 15-21')

## Management Industry: All employees, thousands 2019 - 2021

In [ ]:
# Series stored as a dictionary #CEU-Industry code-01 (Employment Survey)
series_dict = {
    'CEU6055000001': 'All employees, thousands'} 

# Start year and end year
dates = ('2019', '2021')

In [ ]:
# Specify json as content type to return
headers = {'Content-type': 'application/json'}

# Submit the list of series as data
data = json.dumps({
    "seriesid": list(series_dict.keys()),
    "startyear": dates[0],
    "endyear": dates[1]})

# Post request for the data
p = requests.post(
    '{}{}'.format(url, key),
    headers=headers,
    data=data).json()['Results']['series']

In [ ]:
# Date index from first series
date_list = [f"{i['year']}-{i['period'][1:]}-01" for i in p[0]['data']]

# Empty dataframe to fill with values
df = pd.DataFrame()

# Build a pandas series from the API results, p
for s in p:
    df[series_dict[s['seriesID']]] = pd.Series(
        index = pd.to_datetime(date_list),
        data = [i['value'] for i in s['data']]
        ).astype(float).iloc[::-1]

# Show last 5 results
df.tail()

In [ ]:
# Simple line plot of the data
df.plot(title='Management of Companies & Enterprises: All employees, thousands')